/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 16px;
$mainFontWeight          : 500;


$desktopWidth            : 1016px + 30px; //padding 30px

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;
